
<div class="container">
    <div class="row">
        <div class="col-12 title-spacing">
            <h1>Você está vendo a conversão de {{resultado1.tipo}} e {{resultado2.tipo}}</h1>
        </div>
        
        <div class="col-6">
            <app-calculadora [resultadoConv]="resultado1" (resultadoConvChange)="valorConvertido($event)"></app-calculadora>
        </div>

        <div class="col-6">
            <app-calculadora [resultadoConv]="resultado2" (resultadoConvChange)="valorConvertido($event)"></app-calculadora>
        </div>

        <div class="col-12">
            <button mat-raised-button color="primary" routerLink="/">Voltar</button>
        </div>
    </div>

</div>
