
<div class="container">
    <div class="row">
        <div class="col-12 title-spacing">
            <h1>Você está vendo a conversão de {{medida1}} e {{medida2}}</h1>
        </div>
        <div class="col-6">
            <app-calculadora [medida]="medida1" (valorParaConverter)="valorConvertido($event)"></app-calculadora>
        </div>

        <div class="col-6">
            <app-calculadora [medida]="medida2" (valorParaConverter)="valorConvertido($event)" (click)="valorConvertido(resultado)" ></app-calculadora>
        </div>
        <div class="col-12">
            <button mat-raised-button color="primary" routerLink="/">Voltar</button>
        </div>
    </div>

</div>
