<div class="container">
    <div class="row">
        <div class="col-12 title-spacing">
            <h1>Escolha Uma Medida Para Converter</h1>
        </div>
        <div class="col-12 list-container">
            <h2 class="title-spacing">Conversor de Temperatura</h2>
            <mat-form-field class="btn-margin" appearance="fill">
                <mat-label>Converter de: </mat-label>
                <mat-select>
                    <mat-option *ngFor="let temperatura of temperaturas; let i=index" value="index">{{temperatura}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="btn-margin" appearance="fill">
                <mat-label>Converter para: </mat-label>
                <mat-select>
                    <mat-option *ngFor="let temperatura of temperaturas; let i=index" value="index">{{temperatura}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-raised-button color="primary">Converter Temperatura</button>

        </div>
        <div class="col-12 list-container">
            <h2 class="title-spacing">Conversor de Peso</h2>

            <mat-form-field class="btn-margin" appearance="fill">
                <mat-label>Converter de: </mat-label>
                <mat-select>
                    <mat-option *ngFor="let peso of pesos; let i=index" value="index">{{peso}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="btn-margin" appearance="fill">
                <mat-label>Converter para: </mat-label>
                <mat-select>
                    <mat-option *ngFor="let peso of pesos; let i=index" value="index">{{peso}}</mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-raised-button color="primary">Converter Peso</button>

        </div>
        <div class="col-12 list-container">
            <h2 class="title-spacing">Conversor de Medida</h2>

            <mat-form-field class="btn-margin" appearance="fill">
                <mat-label>Converter de: </mat-label>
                <mat-select>
                    <mat-option *ngFor="let medida of medidas; let i=index" value="index">{{medida}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="btn-margin" appearance="fill">
                <mat-label>Converter para: </mat-label>
                <mat-select>
                    <mat-option *ngFor="let medida of medidas; let i=index" value="index">{{medida}}</mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-raised-button color="primary">Converter Medida</button>

        </div>
    </div>
</div>
<div>
  <app-pag-calculo></app-pag-calculo>
</div>
